body {
  font-family: "Nunito", sans-serif;
  padding: 30px 50px;
}

h1 {
  margin-top: 46px;
  margin-bottom: 0px;
  font-size: 22px;
  line-height: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: #336699;
}

h2 {
  margin-top: 2px;
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 300;
  color: #444a5b;
}

.last-updated {
  font-weight: 400;
}

.search-tools {
  max-width: 658px;
  font-size: 16px;
  line-height: 20px;
}

.city-search_field {
  margin-right: 20px;
  padding: 10px;
  border: 1px solid #8f9299;
  border-radius: 10px;
  font-weight: 400;
  color: #444a5b;
}

.city-search_field:active,
:hover,
:focus {
  outline: 1;
  outline-offset: 0;
  outline-color: #1b6aa5;
}

.city-search_field::placeholder {
  font-weight: 300;
  color: #8f9299;
}

.city-search_button {
  transition: all 150ms ease-in-out;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  background: #ffcc66;
  cursor: pointer;
  color: #003366;
}

.city-search_button:hover {
  opacity: 90%;
}

.container.current {
  margin: 4px 0 0;
  padding: 30px 0px;
  max-width: 658px;
  border-radius: 10px;
  background: linear-gradient(to bottom right, #ffffff, #eff5f9);
}

.current-temperature {
  margin-left: 92px;
  font-size: 80px;
  line-height: 82px;
  font-weight: 500;
  color: #336699;
}

.current-icon {
  margin: 0 0 0 32px;
  position: relative;
  bottom: 6px;
}

.current-paremeter {
  margin-top: 6px;
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #444a5b;
}

.current-value {
  margin-left: 4px;
  font-weight: 300;
}

.current-feel,
.current-summary {
  margin-top: 4px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #8f9299;
}

.current-feel {
  margin-left: 92px;
}

.current-summary {
  margin-left: 78px;
}

.current-summary::first-letter {
  text-transform: capitalize;
}

.units-container {
  float: right;
  position: relative;
  bottom: -8px;
  font-size: 24px;
  line-height: 26px;
  font-weight: 500;
  color: #8f9299;
}

.units-container a {
  text-decoration: none;
  color: #336699;
}

.units-container a:hover {
  cursor: default;
}

.units-container .not-active {
  color: #8f9299;
}

.units-container .not-active:hover {
  text-decoration: underline;
  cursor: pointer;
}

.author-link {
  text-decoration: none;
  color: #336699;
}

.author-link:hover {
  text-decoration: underline;
  color: #03359d;
}
.author {
  margin-top: 20px;
  font-size: 16px;
  line-height: 18px;
}

.forecast {
  padding: 0px;
  margin: 32px 0 0 0;
  max-width: 653px;
}

.card-forecast {
  width: 94px;
  height: 98px;
  border-radius: 10px;
  background: #f9fafc;
}

.card-day {
  padding-top: 4px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: #444a5b;
}

.card-icon {
  display: block;
  margin: 0 auto;
  width: 40px;
  height: 40px;
}

.temperature-container {
  margin-top: 4px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #444a5b;
}

.card-max-temperature {
  font-weight: 500;
}

.card-min-temperature {
  font-weight: 300;
}

.card-forecast.card-today {
  background: linear-gradient(to bottom right, #ffffff, #e1eef8);
}
.card-day.today {
  font-weight: 700;
  color: #1b6aa5;
}
